@charset "UTF-8";
/***************************
色
***************************/
/***************************
フォント
***************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
/***************************
レイアウト
***************************/
/***************************
ブレイクポイント
***************************/
/***************************
メディアクエリ
***************************/
/***************************
非表示
***************************/
@media screen and (min-width: 1200px) {
  .is-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-sp {
    display: none;
  }
}

.top-margin {
  margin-top: 120px;
}

.section-title-black {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .section-title-black {
    font-size: 30px;
  }
}

.section-title-white {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .section-title-white {
    font-size: 30px;
  }
}

/***************************
header
***************************/
.header {
  background: rgba(255, 255, 255, 0.4);
  padding: 34px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 16px;
  }
}

@media (min-width: 768px) {
  .header-title {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-title {
    font-size: 23px;
    font-weight: 700;
    margin-right: auto;
    padding: 23px 0px;
  }
}

.header-nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .header-nav-lists {
    display: none;
  }
}

.header-nav-list {
  position: relative;
  margin: 0 10px;
}
.header-nav-list::before, .header-nav-list::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  background: #3E3E3E;
  /*線の形状*/
  width: 0;
  height: 2px;
  /*アニメーションの指定*/
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header-nav-list::before {
  right: 0;
  bottom: 0;
}
.header-nav-list::after {
  left: 0;
  top: 0;
}
.header-nav-list:hover::before, .header-nav-list:hover::after {
  width: 100%;
}
.header-nav-list:hover::before {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; /*線の出現を0.3秒遅らせる*/
}
.header-nav-list:not(:first-child) {
  margin-left: 40px;
}

.header-nav-link {
  color: #3E3E3E;
  position: relative;
  display: block;
  padding: 10px;
}
.header-nav-link::before, .header-nav-link::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  background: #3E3E3E;
  /*線の形状*/
  width: 2px;
  height: 0;
  /*アニメーションの指定*/
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.header-nav-link::before {
  left: 0;
  bottom: 0;
}
.header-nav-link::after {
  right: 0;
  top: 0;
}
.header-nav-link:hover::before, .header-nav-link:hover::after {
  height: 100%;
}
.header-nav-link:hover::before {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; /*線の出現を0.5秒遅らせる*/
}
.header-nav-link:hover::after {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; /*線の出現を0.2秒遅らせる*/
}

/***************************
drawer
***************************/
.drawer-icon {
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 20;
  display: none;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}
.drawer-icon.is-active .drawer-icon_bar1 {
  -webkit-transform: translate(0, 10px) rotate(-45deg);
          transform: translate(0, 10px) rotate(-45deg);
  -webkit-animation: unset;
          animation: unset;
  width: 30px;
}
.drawer-icon.is-active .drawer-icon_bar2 {
  opacity: 0;
  -webkit-animation: unset;
          animation: unset;
}
.drawer-icon.is-active .drawer-icon_bar3 {
  -webkit-transform: translate(0, -10px) rotate(45deg);
          transform: translate(0, -10px) rotate(45deg);
  -webkit-animation: unset;
          animation: unset;
  width: 30px;
}

.drawer-icon_bars {
  width: 60px;
  height: 30px;
  display: block;
  position: relative;
}

.drawer-icon_bar1,
.drawer-icon_bar2,
.drawer-icon_bar3 {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 60px;
  height: 4px;
  border-radius: 4px;
  background: #3E3E3E;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.drawer-icon_bar1 {
  top: 5px;
  width: 60px;
  -webkit-animation: equalizer01 7000ms infinite;
          animation: equalizer01 7000ms infinite;
}

.drawer-icon_bar2 {
  top: 15px;
  width: 60px;
  -webkit-animation: equalizer02 5000ms infinite;
          animation: equalizer02 5000ms infinite;
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}

.drawer-icon_bar3 {
  top: 25px;
  width: 60px;
  -webkit-animation: equalizer02 3000ms infinite;
          animation: equalizer02 3000ms infinite;
}

@-webkit-keyframes equalizer01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

@keyframes equalizer01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes equalizer02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 50%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 70%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 50%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}
@keyframes equalizer02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 50%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 70%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 50%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}
.drawer-content {
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  background: #FFFFFF;
  position: fixed;
  z-index: 15;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content_items {
  padding: 161px 99px 0px;
}

.drawer-content_item {
  text-align: center;
}
.drawer-content_item:not(:first-child) {
  margin-top: 32px;
}

.drawer-content_link {
  font-size: 18px;
  color: #3E3E3E;
  position: relative;
}
.drawer-content_link::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #3E3E3E;
  bottom: -8px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.drawer-content_link:hover::after, .drawer-content_link.is-active::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.drawer-background {
  background: rgba(62, 62, 62, 0.8);
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.drawer-background.is-active {
  display: block;
}

/***************************
main
***************************/
.main {
  background: #F3F3F3;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/***************************
main-visual
***************************/
.main-visual {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 648px;
  background: url(../img/mv@2x.png) no-repeat center center/cover;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .main-visual {
    background: url(../img/mv@x.png) no-repeat center center/cover;
    height: 667px;
  }
}

.main-visual-inner {
  padding: 227px 40px;
}
@media screen and (max-width: 767px) {
  .main-visual-inner {
    padding: 220px 16px;
  }
}

.main-visual_content {
  max-width: 600px;
  margin-left: auto;
  font-family: "Noto Sans JP", sans-serif;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .main-visual_content {
    margin: 0;
    text-align: left;
  }
}

.main-visual_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .main-visual_title {
    font-size: 24px;
    line-height: 1.66;
  }
}

.main-visual_text {
  margin-top: 28px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
}
@media screen and (max-width: 767px) {
  .main-visual_text {
    margin-top: 21px;
    font-size: 14px;
    line-height: 1.42;
  }
}

.main-visual_btn {
  margin-top: 37px;
}
@media screen and (max-width: 767px) {
  .main-visual_btn {
    margin-top: 28px;
  }
}

.main-visual-link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  border-radius: 10px;
  padding: 13px 32px;
  width: 282px;
  background: #FFAA3B;
  display: block;
  text-align: center;
}
.main-visual-link:hover {
  color: #FFAA3B;
  background: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .main-visual-link {
    width: 222px;
    margin: 0 auto;
    padding: 14px 20px;
    font-size: 16px;
  }
}

/***************************
news
***************************/
.news {
  padding: 0px 40px;
  max-width: 1280px;
  margin: 120px auto 0;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 0 16px;
    margin-top: -39px;
  }
}

.news-inner {
  padding: 60px 60px 40px;
  background: #FFFFFF;
  -webkit-box-shadow: rgba(62, 62, 62, 0.2) 0 5px 12px;
          box-shadow: rgba(62, 62, 62, 0.2) 0 5px 12px;
}
@media screen and (max-width: 767px) {
  .news-inner {
    padding: 45px 0 40px;
  }
}

.news-content {
  margin-top: 67px;
}
@media screen and (max-width: 767px) {
  .news-content {
    margin-top: 40px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #CECDCD;
  border-bottom: 1px solid #CECDCD;
  padding: 37px 0px;
  color: #3E3E3E;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .news-item {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .news-item {
    padding: 10px 16px;
  }
}
.news-item:hover {
  background: rgba(73, 115, 255, 0.1019607843);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}
.news-date {
  margin-right: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .news-date {
    font-size: 14px;
    margin-right: 24px;
  }
}

.news-category {
  margin-right: 40px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  border: 2px solid #4973FF;
  border-radius: 50px;
  padding: 8px 32px;
}
@media screen and (max-width: 767px) {
  .news-category {
    font-size: 12px;
    padding: 4px 16px;
  }
}

.news-text {
  width: calc(100% - 300px);
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.55;
  padding-right: 80px;
}
@media screen and (max-width: 1199px) {
  .news-text {
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .news-text {
    font-size: 14px;
    line-height: 1.42;
    padding-right: 39px;
  }
}
.news-text::after {
  content: "";
  position: absolute;
  background: url(../img/news-arrow-1@2x.png) no-repeat center center/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 39px;
  height: 22px;
  right: 0;
}
.news-btn {
  margin-top: 40px;
}
.news-btn-link {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  border: 1px solid #707070;
  margin: 0 auto;
  padding: 20px 80px;
  display: block;
  width: 236px;
  color: #3E3E3E;
  text-align: center;
}
.news-btn-link:hover {
  color: #FFFFFF;
  background: #3E3E3E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .news-btn-link {
    font-size: 18px;
    padding: 16px 100px;
    width: 268px;
  }
}

/***************************
service
***************************/
.service {
  background: -webkit-gradient(linear, left top, left bottom, from(#3E3E3E), color-stop(81%, #3E3E3E), color-stop(81%, transparent), to(transparent));
  background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 81%, transparent 81%, transparent 100%);
  height: 495px;
}
@media screen and (max-width: 767px) {
  .service {
    margin-top: 60px;
    background: -webkit-gradient(linear, left top, left bottom, from(#3E3E3E), color-stop(55%, #3E3E3E), color-stop(55%, transparent), to(transparent));
    background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 55%, transparent 55%, transparent 100%);
    height: 870px;
  }
}

.service-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 60px 40px 0px;
}
@media screen and (max-width: 767px) {
  .service-inner {
    padding: 40px 16px;
  }
}

.service-content {
  margin-top: 70px;
  background: #FFFFFF;
  padding: 70px 45px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(62, 62, 62, 0.2) 0px 5px 12px;
          box-shadow: rgba(62, 62, 62, 0.2) 0px 5px 12px;
}
@media screen and (max-width: 767px) {
  .service-content {
    display: block;
    margin-top: 46px;
    padding: 51px 16px 35px;
  }
}

.service-item {
  text-align: center;
  color: #3E3E3E;
}
.service-item:not(:first-child) {
  margin-left: 90px;
}
@media screen and (max-width: 767px) {
  .service-item:not(:first-child) {
    margin: 52px 0 0 0;
  }
}

.service-item-img-design {
  margin-bottom: 8px;
}
.service-item-img-design img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .service-item-img-design {
    margin-bottom: 8px;
  }
}

.service-item-img-coding {
  margin-bottom: 25px;
}
.service-item-img-coding img {
  width: 50px;
  height: 32px;
}
.service-item-img-customize {
  margin-bottom: 25px;
}
.service-item-img-customize img {
  width: 50px;
  height: 32px;
}
.service-item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .service-item-title {
    line-height: 1.2;
  }
}

.service-item-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 15px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .service-item-text {
    text-align: center;
  }
}

/***************************
results
***************************/
.results {
  margin-left: 40px;
  padding: 68px 0 60px 60px;
  background: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .results {
    margin: 0;
    padding: 44px 0 40px 16px;
  }
}

.results-title {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .results-title {
    text-align: center;
  }
}

.results-cards {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .results-cards {
    margin-top: 40px;
  }
}

.swiper-slide {
  width: 400px;
}
@media screen and (max-width: 767px) {
  .swiper-slide {
    width: 274px;
  }
}

.results-card-img img {
  width: 400px;
}
@media screen and (max-width: 767px) {
  .results-card-img img {
    width: 274px;
  }
}

.results-card-body {
  background: #FFFFFF;
  font-family: "Noto Sans JP", sans-serif;
  color: #3E3E3E;
  padding: 16px;
}
@media screen and (max-width: 767px) {
  .results-card-body {
    padding: 10px;
  }
}

.results-card-title {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .results-card-title {
    font-size: 14px;
  }
}

.results-card-text {
  margin-top: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .results-card-text {
    font-size: 12px;
  }
}

.swiper-pagination {
  position: static;
  text-align: left;
  margin-top: 46px;
}
@media screen and (max-width: 767px) {
  .swiper-pagination {
    text-align: center;
    margin-top: 26px;
  }
}

.results-btn {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .results-btn {
    margin-top: 22px;
    padding-right: 16px;
  }
}

.results-btn-link {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  border: 1px solid #FFFFFF;
  padding: 20px 60px;
  display: block;
  width: 289px;
  color: #FFFFFF;
  text-align: center;
}
.results-btn-link:hover {
  color: #3E3E3E;
  background: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .results-btn-link {
    width: 316px;
    font-size: 18px;
    margin: 0 auto;
    max-width: 100%;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
  margin: 0 10px !important;
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
}

/***************************
price
***************************/
.price {
  margin-top: 0;
  padding-top: 126px;
}
@media screen and (max-width: 767px) {
  .price {
    padding-top: 41px;
  }
}

.price-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .price-inner {
    padding: 0 16px;
  }
}

.price__table {
  margin-top: 64px;
}
@media screen and (max-width: 767px) {
  .price__table {
    margin-top: 43px;
  }
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  width: 100%;
  table-layout: fixed;
}
th,
td {
  border: 1px solid #707070;
}

th {
  width: 27.2%;
  background: #3E3E3E;
  color: #FFFFFF;
  padding: 16px 50px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  th {
    width: 29.2%;
    padding: 17px;
    font-size: 20px;
  }
}

td {
  width: 72.8%;
  background: #FFFFFF;
  color: #3E3E3E;
  padding: 18px 40px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  td {
    padding: 16px 20px;
    font-size: 20px;
  }
}

.price-comment {
  margin-top: 9px;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  .price-comment {
    margin-top: 8px;
  }
}

/***************************
background
***************************/
.background {
  position: relative;
}
.background::before {
  content: "";
  position: absolute;
  width: 76.5625%;
  background: #3E3E3E;
  left: 0;
  top: 140px;
  bottom: 136px;
}
@media screen and (max-width: 767px) {
  .background::before {
    width: 100%;
    bottom: 0;
    top: 75px;
  }
}

/***************************
comments
***************************/
.comments {
  position: relative;
  margin: 120px 0;
}
@media screen and (max-width: 767px) {
  .comments {
    margin: 45px 0;
  }
}

.comments-inner {
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (max-width: 767px) {
  .comments-inner {
    padding: 16px;
  }
}

.comments-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .comments-content {
    display: block;
  }
}

.comments-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 666px;
          flex: 0 1 666px;
  background: #FFFFFF;
  padding: 120px 60px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1607843137) 0 0 10px;
          box-shadow: rgba(0, 0, 0, 0.1607843137) 0 0 10px;
}
@media screen and (max-width: 767px) {
  .comments-card {
    padding: 40px 20px;
  }
}

.comments-title {
  text-align: left;
}

.comments-card-body {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .comments-card-body {
    margin-top: 40px;
  }
}

.comments-card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comments-card-items:not(:first-child) {
  margin-top: 61px;
}
@media screen and (max-width: 767px) {
  .comments-card-items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .comments-card-items:not(:first-child) {
    margin-top: 40px;
  }
}

.comments-card-img img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 767px) {
  .comments-card-img img {
    width: 60px;
    height: 60px;
  }
}

.comments-card-text {
  width: calc(100% - 100px);
  margin-left: 32px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #3E3E3E;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .comments-card-text {
    width: calc(100% - 60px);
    font-size: 14px;
    line-height: 1.42;
    margin-left: 20px;
  }
}

.comments-img {
  margin-top: 80px;
}
.comments-img img {
  width: 100%;
  height: 444px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) {
  .comments-img img {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .comments-img {
    margin-top: 0;
  }
}
/***************************
qa
***************************/
.qa {
  position: relative;
  background: url(../img/qa-bg@2x.png) no-repeat top left/cover;
  background-attachment: fixed;
}
@media screen and (max-width: 767px) {
  .qa {
    background: url(../img/qa-bg@2x.png) no-repeat center center/cover;
    background-attachment: fixed;
  }
}

.qa-inner {
  padding: 71px 40px 120px;
}
@media screen and (max-width: 767px) {
  .qa-inner {
    padding: 40px 16px 60px;
  }
}

.qa-items {
  margin-top: 64px;
  max-width: 612px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .qa-items {
    margin: 40px auto 0;
  }
}

.qa-box {
  background: #FFFFFF;
  padding: 17px 16px 16px;
  position: relative;
}
.qa-box:not(:first-child) {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .qa-box {
    padding: 21px 16px 17px;
  }
  .qa-box:not(:first-child) {
    margin-top: 24px;
  }
}

.qa-box-q {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  padding-left: 40px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .qa-box-q {
    font-size: 16px;
    line-height: 1.1;
  }
}
.qa-box-q::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #3B69FF;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.qa-box-q::after {
  content: "Q";
  position: absolute;
  color: #FFFFFF;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-q__icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa-q__icon.is-open .qa-q__bar2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.qa-q__bar1 {
  width: 17px;
  height: 3px;
  background: #3B69FF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-q__bar2 {
  width: 3px;
  height: 17px;
  background: #3B69FF;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box-a {
  margin-top: 16px;
  padding: 12px;
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  line-height: 1.5;
  display: none;
}
@media screen and (max-width: 767px) {
  .qa-box-a {
    padding: 4px 16px 4px 12px;
    font-size: 14px;
  }
}

.qa-a {
  font-size: 16px;
}
/***************************
access
***************************/
.access {
  position: relative;
  margin: 113px auto 0;
  max-width: 1200px;
  padding-left: 60px;
  display: grid;
  grid-template-columns: 414px 1fr;
  grid-template-rows: 168px 1fr;
  grid-row-gap: 32px;
}
@media screen and (max-width: 767px) {
  .access {
    margin: 50px auto 0;
    padding: 0 16px 60px;
    display: block;
  }
}

.access-inner {
  grid-area: 1/1/2/2;
}
.access-title {
  text-align: left;
}

.access-address {
  margin-top: 60px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  .access-address {
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.42;
  }
}

.access-map {
  grid-area: 1/2/3/3;
}
@media screen and (max-width: 767px) {
  .access-map {
    margin-top: 24px;
  }
}
.access-map iframe {
  width: 100%;
  height: 520px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) {
  .access-map iframe {
    height: 240px;
  }
}

.access-btn {
  grid-area: 2/1/3/2;
}
@media screen and (max-width: 767px) {
  .access-btn {
    margin-top: 17px;
  }
}

.access-btn-link {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  border: 1px solid #FFFFFF;
  padding: 20px 60px;
  display: block;
  max-width: 314px;
  color: #FFFFFF;
  text-align: center;
}
.access-btn-link:hover {
  color: #3E3E3E;
  background: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .access-btn-link {
    width: 343px;
    font-size: 18px;
    margin: 0 auto;
    max-width: 100%;
  }
}

/***************************
contact
***************************/
.contact {
  background: url(../img/contact-bg@2x.png) no-repeat center center/cover;
  margin-top: 115px;
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 0;
  }
}

.contact-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 60px 40px;
}
@media screen and (max-width: 767px) {
  .contact-inner {
    padding: 40px 16px;
  }
}

.contact-head {
  background: url(../img/contact1@2x.png) no-repeat center center/cover;
  height: 196px;
  padding: 62px;
  border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 767px) {
  .contact-head {
    height: 163px;
    padding: 40px 16px;
  }
}

.contact-text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .contact-text {
    font-size: 14px;
    line-height: 1.42;
    margin-top: 12px;
    text-align: left;
  }
}

.contact-form {
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  padding: 60px 120px;
}
@media screen and (max-width: 767px) {
  .contact-form {
    padding: 40px 12px;
  }
}

.contact__form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__form__row:not(:first-child) {
  margin-top: 31px;
}
@media screen and (max-width: 767px) {
  .contact__form__row {
    display: block;
  }
  .contact__form__row:not(:first-child) {
    margin-top: 29px;
  }
}

.contact__form__label {
  font-size: 16px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  color: #3E3E3E;
  width: 188px;
}
.contact__form__label label.is-requierd {
  position: relative;
  display: inline-block;
}
.contact__form__label label.is-requierd::after {
  position: absolute;
  content: "必須";
  right: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 12px;
  background: #FF4646;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .contact__form__label label.is-requierd::after {
    right: -60px;
  }
}

.contact__form__input {
  width: calc(100% - 188px);
}
@media screen and (max-width: 767px) {
  .contact__form__input {
    width: 100%;
  }
  .contact__form__input:not(:first-child) {
    margin-top: 12px;
  }
}
.contact__form__input [type=text] {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 8px 12px;
}
@media screen and (max-width: 767px) {
  .contact__form__input [type=text] {
    padding: 5px 5px 5px 0px;
  }
}
.contact__form__input [type=text]:focus {
  border-bottom-color: rgba(73, 115, 255, 0.6);
  -webkit-box-shadow: 0px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
}
.contact__form__input [type=text]:hover {
  border-bottom-color: rgba(73, 115, 255, 0.6);
  -webkit-box-shadow: 0px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
}

[type=email] {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 8px 12px;
}
@media screen and (max-width: 767px) {
  [type=email] {
    padding: 5px 5px 5px 0px;
  }
}
[type=email]:focus {
  border-bottom-color: rgba(73, 115, 255, 0.6);
  -webkit-box-shadow: 0px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
}
[type=email]:hover {
  border-bottom-color: rgba(73, 115, 255, 0.6);
  -webkit-box-shadow: 0px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
}

select {
  width: 178px;
  padding: 12px;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: url(../img/select-arrow@2x.png) no-repeat right 12px center/10px 10px;
}
@media screen and (max-width: 767px) {
  select {
    width: 100%;
  }
}
select:focus {
  border-color: rgba(73, 115, 255, 0.6);
}
select:hover {
  border-color: rgba(73, 115, 255, 0.6);
}

.contact-radio-wrap [type=radio] {
  display: none;
}
.contact-radio-wrap span {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #3E3E3E;
  padding-left: 20px;
  margin-right: 35px;
}
.contact-radio-wrap span::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #3E3E3E;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-radio-wrap span:hover::before {
  border-color: #4973FF;
  -webkit-box-shadow: 0px 0px 8px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 0px 8px rgba(73, 115, 255, 0.5019607843);
}
.contact-radio-wrap span:active::before {
  background-color: rgba(73, 115, 255, 0.2);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.contact-radio-wrap span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #3B69FF;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3px;
  display: none;
}
.contact-radio-wrap [type=radio]:checked + span::after {
  display: block;
}

.contact__form__message {
  margin-top: 32px;
}

.contact__form__input-message {
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .contact__form__input-message {
    margin-top: 19px;
  }
}
.contact__form__input-message textarea {
  width: 100%;
  height: 200px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  padding: 8px 12px;
}
@media screen and (max-width: 767px) {
  .contact__form__input-message textarea {
    height: 160px;
  }
}
.contact__form__input-message textarea:focus {
  border-color: rgba(73, 115, 255, 0.6);
  -webkit-box-shadow: 3px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 3px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
}
.contact__form__input-message textarea:hover {
  border-color: rgba(73, 115, 255, 0.6);
  -webkit-box-shadow: 3px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 3px 8px 5px -5px rgba(73, 115, 255, 0.5019607843);
}

.contact-form-check {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .contact-form-check {
    margin-top: 28px;
  }
}
.contact-form-check [type=checkbox] {
  display: none;
}
.contact-form-check span {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  color: #3E3E3E;
  font-weight: 700;
}
.contact-form-check span::before {
  content: "";
  position: absolute;
  border: 1px solid #707070;
  width: 20px;
  height: 20px;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact-form-check span:hover::before {
  border-color: #4973FF;
  -webkit-box-shadow: 0px 0px 8px rgba(73, 115, 255, 0.5019607843);
          box-shadow: 0px 0px 8px rgba(73, 115, 255, 0.5019607843);
}
.contact-form-check span::after {
  content: "";
  position: absolute;
  border-right: 2px solid #4973FF;
  border-bottom: 2px solid #4973FF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  width: 7px;
  height: 16px;
  top: 0px;
  left: 7px;
  display: none;
}
.contact-form-check [type=checkbox]:checked + span::after {
  display: block;
}

.contact__form__button {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .contact__form__button {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .contact__form__button {
    margin-top: 35px;
  }
}
.contact__form__button [type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #B2B2B2;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px;
  padding: 10px 50px;
  cursor: not-allowed;
}
.contact__form__button [type=submit].is-active {
  background: #FFAA3B;
  cursor: pointer;
}

/***************************
footer
***************************/
.footer {
  background: #3E3E3E;
  padding: 60px 120px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 40px;
  }
}

.footer-inner {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer-inner {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer-left {
    text-align: center;
  }
}

.footer-twitter {
  font-size: 36px;
}

.footer-facebook {
  font-size: 36px;
  margin-left: 32px;
}
@media screen and (max-width: 767px) {
  .footer-facebook {
    margin-left: 50px;
  }
}

.footer-nav-lists {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .footer-nav-lists {
    margin-top: 42px;
  }
}

.footer-nav-list:not(:first-child) {
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .footer-nav-list:not(:first-child) {
    margin-top: 26px;
  }
}

.footer-nav-link {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer-nav-link {
    font-size: 14px;
  }
}

.footer-right {
  padding: 6px;
}
@media screen and (max-width: 767px) {
  .footer-right {
    text-align: center;
    margin-top: 36px;
    padding: 0;
  }
}

.footer-logo {
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #E3E3E3;
}
@media screen and (max-width: 767px) {
  .footer-logo {
    font-size: 32px;
  }
}

.copyright {
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .copyright {
    margin-top: 12px;
    text-align: center;
  }
}

/***************************
page-top
***************************/
.page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.page-top img {
  width: 50px;
  height: 50px;
}
.page-top.is-show {
  opacity: 1;
  visibility: visible;
}
